<link rel="stylesheet" href="/css/app.css">
<link rel="stylesheet" href="/css/emailmodal.css">
<div id="emailModal">
    <div class="email-modal-content">
        <h2>Email Details</h2>
        <div>
            <strong>From:</strong>
        </div>
        <div>
            <strong>Subject:</strong> 
        </div>
        <div>
            <strong>Body:</strong>
            <div>
           
            </div>
        </div>
      <button> close </button>
    </div>
</div>
<script src="/js/gsap.min.js" > </script>
<script src="/js/inbox.js" > </script>