<div id = 'email'>
    <div class="email-item">
        <div class="email-details">
            <div class="email-from"><strong>From:</strong> <%= email.fromName %> &lt;<%= email.from %>&gt;</div>
            <div class="email-subject"><strong>Subject:</strong> <%= email.subject %></div>
        </div>
    </div>
</div>
