<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> inbox </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/app.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link script src ="/js/menu.js" />
    <link sript src = "index.js"
 
</head>
<body>
    <header>
        <nav class="headerflex">
         <div id="f3"> <image src="/images/Hamburger_icon.svg" id="menu-toggle">  </image>  </div>
         <div id="f2"> <form class="search-form" action="/search" method="get" role="search">
             <input class="search-input" type="search" name="q" placeholder="Search..." aria-label="Search">
            
        </div>
         <div id="f1"> </div>
        </nav>
    </header>