<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title> inbox </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/app.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/inbox.css" />

    <script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/gsap.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/ScrollTrigger.min.js"></script>
    <link script src ="/js/menu.js" />
    <link sript src = "index.js"

</head>

<body>
    <header>
        <nav class="headerflex">
            <div id="f3" class="hamburger-menu">
                <svg width="32" height="36" viewBox="0 0 24 24" fill="currentColor">
                    <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z" />
                </svg>
            </div>

            <div class="menu-content" id="menuContent">
                <a href="/sent" >Sent</a>
                <a href="/inbox" >Inbox</a>
                <a href="/logout" >Logout</a>
            </div>

            <div id="f2">
                
            </div>
            <div id="f1"> </div>
        </nav>