<%-include('partials/header')%>
<main>
    <h1>Inbox</h1>
    <div class="email-list">
      <%  emails.forEach(function(email) { %>
            <%- include('partials/email', { email: email }) %>
       <% });%>
    </div>
</main> 