<%-include('partials/header')%>
<main>
    <h1>Inbox</h1>
    <p>This is your inbox. Here you can view your messages.</p>
    <button id="openEmailModal">Open Email</button>
    <%- include('partials/emailopen') %>